.container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container-dashbord {
    display: flex;
    margin-top: 0px;

}

.mainContent {
    width: 100%;
    padding-left: 17%;
    padding-right: 50px;
    min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 18px;
  color: #004aad;
}

.full-for-RichTextEditor{
  gap: 0px !important;

}

.full-for-RichTextEditor span{
  padding-bottom: 6px !important;
}
/* Main Content */
.main {
    flex: 1;
    padding: 30px;
    background-color: #fff;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: bold;
  margin-bottom: 6px;
}

.field input[type="text"],
.subField textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.field input[type="file"] {
  font-size: 14px;
}

.presentationBox {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  background: #fafafa;
}

.subField {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.subField label {
  font-weight: bold;
  margin-bottom: 5px;
}

.labelMission {
  color: #b33a3a;
}

.labelValeurs {
  color: #b26d00;
}

textarea {
  min-height: 70px;
  resize: vertical;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-start;
  transition: 0.2s;
}

.button:hover {
  background-color: #0059c1;
}


.logoBox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoPlaceholder {
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 13px;
  border-radius: 6px;
  background-color: #fafafa;
}

.logoPreview {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
}

.fileInput {
  font-size: 13px;
}